
.navigation{
    position:relative;
    margin:0 auto;
    width:777px;
}
ul.menu{
    list-style:none;
    font-family:"Verdana",sans-serif;
    border-top:1px solid #bebebe;
    margin:0px;
    padding:0px;
    float:left;
}
ul.menu li{
    float:left;
}
ul.menu li a{
    text-decoration:none;
    background:rgb(112, 43, 33);;
    padding:15px 0px;
    width:153.6px;
    color: black;
    float:left;
    text-shadow: 0 1px 1px #fff;
    text-align:center;
    border-right:1px solid #a1a1a1;
    border-left:1px solid #e8e8e8;
    font-weight:bold;
    font-size:13px;
    box-shadow: 0 1px 3px rgb(242, 235, 194);;
    box-shadow: 0 1px 3px rgb(242, 235, 194);;
}
ul.menu li a.hover{
    background: #1c5252;
    color:#fff;
    text-shadow: 0 -1px 1px #000;
}
ul.menu li a.first{
    border-radius:0px 0px 0px 10px;
    border-bottom-left-radius: 10px;
    border-left:none;
}
ul.menu li a.last{
    border-radius:0px 0px 10px 0px;
    border-bottom-right-radius: 10px;
}
ul.menu li span{
    width:64px;
    height:64px;
    background-repeat:no-repeat;
    background-color:transparent;
    position:absolute;
    z-index:-1;
    top:80px;
    cursor:pointer;
}

